<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <% if(hasFont && glyphicons) { %><span class="glyphicon glyphicon-justify"></span><% } %>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ui-route="/home" ng-class="{active:$uiRoute}">
          <a href="#/home">
            <% if(hasFont && glyphicons) { %><i class="glyphicon glyphicon-home"></i><% } %>
            Home
          </a>
        </li>
        <li ui-route="/about" ng-class="{active:$uiRoute}">
          <a href="#/about">
            <% if (hasFont && glyphicons) { %><i class="glyphicon glyphicon-circle_info"></i><% } %>
            What is it?
          </a>
        </li>
        <% if (hasFont) { %>
        <li ui-route="/fonts" ng-class="{active:$uiRoute}">
          <a href="#/fonts">
            <% if (hasFont && glyphicons) { %><i class="glyphicon glyphicon-pencil"></i><% } %>
            How to use Fonts?
          </a>
        </li>
        <% } %>
        <li>
          <a href="https://github.com/eInyzant/generator-angularbones">
            Github
          </a>
        </li>
        <li>
          <a href="https://github.com/eInyzant/generator-angularbones/issues">
            <% if(hasFont && glyphicons) { %><i class="glyphicon glyphicon-conversation"></i><% } %>
            Support
          </a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
